@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  background-color: grey;
  margin: 0;
}

.calculator{
  margin: 10% 33% ;
  background-color: #698979;
  padding: 15px;
  border: 2px solid black;
  border-radius:3px;
  max-width: 99px;
  min-width: 99px;
}

#display {
  display: block;
  background-color: white;
  text-align: right;
}

#decimal, #subtract, #divide, #add, #multiply{
  width: 24px;
}

#equals {
  background-color: #88f2af;
  width: 47px
}
#clear, #back {
  width: 41px;
}

#back {
  background-color: #f7f48b;
}

#add, #subtract, #divide, #multiply {
  background-color: #a2d8f5;
}

#clear {
 background-color: #f28888;
}

#text {
  color: white;
  display: block;
  font-family: 'Syne Mono', monospace;
  font-size: 10px;
}